<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>List of Units</title>
    </head>
    <body>
        <h1>List of units</h1>
        <table>
            <caption>
              List of Units
            </caption>
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Title</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="unit : ${units}">
                <td th:text="${unit.code}"></td>
                <td th:text="${unit.title}"></td>
                <td><a th:href="'/unit/details/' + ${unit.code}" th:text="'details'"></a></td>
            </tr>
        </tbody>
        </table>
    </body>
</html>
